.sidebar nav {
    padding: 0px !important;
}

.sidebar ul li:hover {
    background-color: red;
}

.sidebar {
    width: 300px !important;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: left;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}