.sidebar {
    width: 300px;
    background-color: #343a40;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}

.content {
    margin-left: 300px;
    padding: 20px;
    background-color: white;
    height: 100vh;
}

.auth-content {
    display: flex;
    height: 100vh;
    background-color: #343a40;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.auth-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.auth-form h2 {
    margin-bottom: 20px;
}

.auth-form form {
    display: flex;
    flex-direction: column;
}

.auth-form form div {
    margin-bottom: 15px;
}

.auth-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}